<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType text/css A31104000
	ExpiresByType text/javascript A31104000
</IfModule>